logs
*.log
npm-debug.log*
pids
*.pid
*.seed
lib-cov
coverage
.nyc_output
.grunt
.lock-wscript
build/Release
node_modules
jspm_packages
.npm
.node_repl_history
/Base_app/nbproject/private/
/app/nbproject/private/
/nbproject/private/
/.idea/
/app/node_modules/
.idea
