<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
<link type="text/css" rel="icon" href="img/icon.png" />
<link type="text/css" rel="stylesheet" href="css/vendor/framework7.min.css" />
<link type="text/css" rel="stylesheet" href="css/vendor/framework7.colors.min.css" />
<link rel="stylesheet" href="css/style.css" />
</head>
<body class="handelbars">
{{{body}}}
  </body>
  <script type="text/javascript" src="js/vendor/jquery.min.js"></script>
</html>